@import "tailwindcss";
@import '@fontsource/poppins';
@import '@fontsource-variable/montserrat';

@theme {
    --font-montserrat : 'Montserrat Variable';
    --font-poppins: 'Poppins','Times New Roman';
    --color-primary: #2796aa;
}