---
import Layout from '@/layouts/Layout.astro';
import Navbar from '@/components/Navbar.astro';
import Hero from '@/components/Hero.astro'
import Servicios from '@/components/Servicios.astro'
import Metodologia from '@/components/Metodologia.astro';
import Proyectos from '@/components/Proyectos.astro';
import Modernizacion from '@/components/Modernizacion.astro';
import Footer from '@/components/Footer.astro';
---

<Layout>
	<Navbar/>
	<main class="flex flex-col gap-28 overflow-hidden max-md:px-4">
		<Hero/>
		<Servicios />
		<Metodologia/>
		<Proyectos/>
		<Modernizacion/>
		
	</main>
	<Footer/>
</Layout>
