---
import FlagCarousel from "@/components/FlagCarousel.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <main class="max-w-6xl md:px-4 px-2 mx-auto">
    <FlagCarousel />
  </main>
</Layout>
