---
import LogoTiyay from "@/assets/LogoTiyay.svg";
---

<div class="bg-black px-8 py-10 text-white grid grid-cols-4 items-center">
  <div class="flex gap-2 flex-col h-full ">
    <h1 class="uppercase flex items-center gap-3 text-xl font-montserrat">
      <LogoTiyay class="w-13 invert" />tiyay digital group
    </h1>
    <p class="text-white/70 text-sm text-center">
      Transformamos ideas en software excepcional. Potenciamos tu negocio con
      tecnología de vanguardia.
    </p>
  </div>
  <div class="flex items-center flex-col gap-5 h-full">
    <h2 class="text-xl font-bold font-poppins">Servicios</h2>
    <ol class="flex flex-col gap-1 items-center">
      <li><a href="">Desarrollo Web</a></li>
      <li><a href="">Apps Moviles</a></li>
      <li><a href="">Apps Escritorio</a></li>
      <li><a href="">Despliegue</a></li>
    </ol>
  </div>
  <div class="flex items-center flex-col gap-5 h-full">
    <h2 class="text-xl font-bold font-poppins">Empresa</h2>
    <ol class="flex flex-col gap-1 items-center">
      <li><a href="">Metodologia</a></li>
      <li><a href="">Proyectos</a></li>
      <li><a href="">Contacto</a></li>
    </ol>
  </div>
  <div class="flex items-center flex-col gap-2 h-full">
    <h2 class="text-lg font-bold">Reserva tu Cita</h2>
    <p class="text-center text-sm">Reserva tu cita para llevar tu idea al mundo digita</p>
    <form action="" class="flex gap-2">
      <input type="email" placeholder="tu@gmail.com" class="bg-gray-700 p-2 rounded-lg border-white border">
      <button type="submit" class="bg-[#59E4E4] text-xl p-2 rounded-lg font-bold text-[#ffffff]">Reservar</button>
    </form>
  </div>
</div>
