---
import ImgBanner1 from "@/assets/ImgBanner1.png";
import ImgBanner1Movil from "@/assets/ImgBanner1-Movil.webp";
import FlagCarousel from "./FlagCarousel.astro";
import { Image } from "astro:assets";

---

<div class="pt-40 max-lg:px-10 flex items-center justify-center flex-col gap-5 w-full max-w-6xl m-auto ">
  <Image
    src={ImgBanner1}
    alt="Banner-1"
    class="object-contain hidden lg:block"
  />
  <Image
    src={ImgBanner1Movil}
    alt="Banner 1"
    class="object-cover block lg:hidden  rounded-4xl"
  />

  <FlagCarousel />
</div>
