---
import LogoTiyay from "@/assets/LogoTiyay.svg";
import IconWhatsApp from "@/assets/IconWhatsApp.svg";
import IconCall from "@/assets/IconCall.svg";
import IconHamburguesa from "@/assets/IconHamburguesa.svg";
import IconApps from "@/assets/IconApps.svg";
import IconHome from "@/assets/IconHome.svg";
import ImgDisenoWeb from "@/assets/ImgDisenoWeb.png";
import ImgLandingPage from "@/assets/ImgLandingPage.png";
import ImgEcommerce from "@/assets/ImgComercioElectronico.png";
import IconServices from "@/assets/IconServices.svg";
import { Image } from "astro:assets";
---

<header
  class="w-full shadow-xl flex px-5 py-2 lg:items-center max-h-20 h-full bg-white fixed"
>
  <h1 class="lg:hidden">
    <a
      href="#"
      class="uppercase font-montserrat flex items-center gap-2 text-xl"
      ><LogoTiyay class="w-13" /><h1>tiyay digital group</h1></a
    >
  </h1>

  <label for="btnhumberguesa" class="ml-auto flex lg:hidden items-center"
    ><IconHamburguesa /></label
  >
  <input
    type="checkbox"
    name="btnhumberguesa"
    id="btnhumberguesa"
    class="hidden peer"
  />
  <nav class="lg:w-full peer-checked:[&>ol]:left-0 ">
    <ol
      class="flex gap-3 w-full flex-row h-full max-lg:flex-col bg-white max-lg:h-screen max-lg:w-85 max-lg:absolute top-0 -left-90 max-lg:px-5 max-lg:py-2 max-lg:shadow-2xl transition-all duration-300"
    >
      <li>
        <a
          href="#"
          class="uppercase font-montserrat flex items-center gap-2 text-xl"
          ><LogoTiyay class="w-13" /><h1>tiyay digital group</h1></a
        >
      </li>
      <ol class="flex gap-3 lg:items-center max-lg:flex-col">
        <li>
          <a
            href="#"
            class="capitalize hover:text-[#7fb5be] transition-all duration-300 flex max-lg:text-xl gap-2 items-center"
            ><IconHome class="lg:hidden"/>inicio</a
          >
        </li>
        <li>
          <a
            href="#"
            class="capitalize hover:text-[#7fb5be] transition-all duration-300 flex max-lg:text-xl gap-2 items-center"
            ><IconApps class="lg:hidden"/>portafolio</a
          >
        </li>
        <li class="group">
          <h2
            class="capitalize flex items-center gap-1 group-hover:text-[#7fb5be] transition-all duration-300 max-lg:text-xl"
          >
            nuestro servicios
            <span
              class="mt-1 w-2 h-2 border-7 block border-x-transparent border-b-0 lg:group-hover:rotate-180 transition-all duration-500"
            ></span>
          </h2>
          <ol
            class="lg:invisible lg:opacity-0 lg:translate-y-2 lg:group-hover:visible lg:group-hover:opacity-100 lg:group-hover:translate-y-0
           lg:absolute top-13 lg:bg-white p-4 rounded-lg lg:shadow-2xl transition-all duration-500 flex flex-col gap-5"
          >
            <li>
              <a href="#" class="flex items-center gap-2 max-w-md"
                ><Image
                  src={ImgDisenoWeb}
                  alt="ImgDisenoWeb"
                  class="w-20"
                /><div class="flex flex-col ">
                  <h3 class="text-base font-bold font-poppins">
                    Diseño web
                  </h3><span class="text-xs/4"
                    >Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Iusto, eaque distinctio! Cupiditate atque exercitationem
                    ipsa que.</span
                  >
                </div></a
              >
            </li>
            <li>
              <a href="#" class="flex items-center gap-2 max-w-md"
                ><Image
                  src={ImgLandingPage}
                  alt="ImgLandingPage"
                  class="w-20"
                /><div class="flex flex-col">
                  <h3 class="text-base font-bold font-poppins">
                    Desarrollo de Landing Pages
                  </h3><span class="text-xs/4"
                    >Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Iusto, eaque distinctio! Cupiditate atque exercitationem
                    ipsa que.</span
                  >
                </div></a
              >
            </li>
            <li>
              <a href="#" class="flex items-center gap-2 max-w-md"
                ><Image
                  src={ImgEcommerce}
                  alt="ImgEcommerce"
                  class="w-20"
                /><div class="flex flex-col">
                  <h3 class="text-base font-bold font-poppins">
                    Desarrollo de Tiendas Virtuales
                  </h3><span class="text-xs/4"
                    >Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Iusto, eaque distinctio! Cupiditate atque exercitationem
                    ipsa que.</span
                  >
                </div></a
              >
            </li>
          </ol>
        </li>
      </ol>
      <li class="lg:ml-auto flex gap-3 items-center max-lg:flex-col mt-auto">
        <a
          href="#"
          class="flex items-center gap-2 bg-[#25D366] rounded-lg p-2 text-white font-poppins h-14 hover:scale-105 transition-all duration-300 max-lg:w-65"
          ><IconWhatsApp class="h-7 w-7" />Escribenos por WhatsApp</a
        >
        <a
          href="#"
          class="flex items-center justify-center gap-2 bg-[#006AF6] rounded-lg p-2 text-white font-poppins h-14 hover:scale-105 transition-all duration-300 max-lg:w-65"
          ><IconCall class="h-6 w-6" />Agenda una Llamada</a
        >
      </li>
    </ol>
  </nav>
</header>
